.container{
    background-color: aliceblue;
}
.topSection{
    background-color: aliceblue;
}

  .productImageWrapper{
    background-color: aliceblue;
}

.mainImage{
        background-color: aliceblue;
}
   

.productDetailsWrapper{
    background-color: aliceblue;
}
.primaryDetailsWrapper{
        background-color: aliceblue;
    }

.title{
        background-color: aliceblue;
    }

      
.subtitle{
        background-color: aliceblue;
    }

    .price{
        background-color: aliceblue;
    }
  

.cta{
        background-color: aliceblue;
    }
     
  
.secondaryDetailsWrapper{
        background-color: aliceblue;
    }
   
.productDescription{
        background-color: aliceblue;
}
        /* highlights in bullet points */
    
.productSpecs{
        background-color: aliceblue;
}

.shippingAndReturns{
        background-color: aliceblue;
}
      
.reviews{
        background-color: aliceblue;
}
  

.bottomSection{
    background-color: aliceblue;
}
 .suggestions{
    background-color: aliceblue;
}
.recentlyViewed{
    background-color: aliceblue;
}